selenium~=4.25.0
webdriver-manager~=4.0.2
PyQt5~=5.15.11
SQLAlchemy~=2.0.35
psycopg2~=2.9.10
pyodbc~=5.2.0
PyAutoGUI~=0.9.54
cryptography~=43.0.3
selenium-wire~=5.1.0
undetected-chromedriver~=3.5.5
pyinstaller~=6.11.0
requests~=2.32.3
pyobjc-core~=10.3.1
pyobjc~=10.3.1
mitmproxy~=11.0.0
blinker==1.7.0